
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="mavenfont">Contact Us</h1>
    <p class="lead grey-text">Feel Free To Contact With Us</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
 					<h3 class="mavenfont center">Contact info</h3>
					<div class="space20"></div>
					<span class="grey-text"> 
            <h5 class="lpad62">
            <strong><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Address: </strong>
          </h5>
            <div class="addr-css lpad85">
              <div>Hori Auto Garage, Pragati Nagar,</div>
              <div>Risali, Bhilai, Dist-Durg, </div>
              <div>Pincode: 490006,</div>
              <div>Chhattisgarh</div>
            </div>
            <div class="mtop10">
              <h5 class="lpad62">
                <strong><i class="fa fa-phone"></i> Contact No:</strong>
              </h5>
              <span class="addr-css lpad85">
                9916593943
              </span>
            </div>
            <div class="mtop10">
              <h5 class="lpad62">
                <strong><i class="fa fa-envelope"></i> Mail Us:</strong>
              </h5>
              <span class="addr-css lpad85">
                Horiautogarage@gmail.com
              </span>
            </div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="mavenfont center">Find Through Map</h3>
        <div class="map-responsive">
        	
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14882.650450730584!2d81.3340858!3d21.165821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40fef15598d54e4f!2sHori+Auto+Garage!5e0!3m2!1sen!2sin!4v1512133379515" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>