.mtop55{
  margin-top: 55px;
}
.fright { float: right; }
.greybg { background-color: #dedede; }

.mavenfont { font-family: 'Black Ops One', cursive; }
.lato_font {font-family: 'Lato', sans-serif;}
.bluefont { color: #0275d8; }
.whiteclr { color: white; }